{{ partial "header.html" . }}

<section id=content>
  {{ if eq .Page.Type "essays" }}
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
  {{ if .Params.date }}
    <div id=sub-header>
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
    </div>
  {{ end }}
  {{ end }}

  {{ if .Params.banner }}
  <img src="{{ .Params.banner }}" />
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>

  {{ if .Params.bannerCredits }}
  <div class="banner-credits">
    {{ .RenderString .Params.bannerCredits }}
  </div>
  {{ end }}

  <form class="response-form" method="POST" action="https://rnshaw-staticman.herokuapp.com/v3/entry/github/robbynshaw/home/main/comments" >
    <h3>Send me a response</h3>
    <p>
      I do my best to read through responses and will write updates to the post if
      one seems warranted. By submitting a response here, you are authorizing
      me to include your response on this website.
    </p>
    <p>
      Thank you for taking the time to write back. 🤩
    </p>
    <fieldset>
      <input name="options[redirect]" type="hidden" value="{{ .Page.Permalink }}" />
      <input name="options[slug]" type="hidden" value="{{ .Page.RelPermalink }}" />
      <label for="fields[name]">Name:</label>
      <input type="text" id="name" name="fields[name]" />
      <label for="fields[message]">Response:</label>
      <textarea name="fields[message]" rows="10" cols="60"></textarea>
    </fieldset>
    <button type="submit">Send</button>
  </form>

  {{ if eq .Page.Type "essays" }}
  <div id=links>
    {{ if .PrevInSection }}
      <a href="{{.PrevInSection.Permalink}}">&laquo;&nbsp;{{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&raquo;</a>
    {{ end }}
  </div>
  {{ end }}
</section>

{{ partial "footer.html" . }}


