header p q {
    color: #B9C1CA;
    font-style: italic;
}

#nav ul li a {
    color: #B9C1CA;
}

header p {
    margin: 5px 0;
}

header {
    margin-bottom: 40px;
}

.banner-credits a,
.banner-credits {
    color: #B9C1CA;
}

.banner-credits {
    margin-top: 40px;
    font-size: 0.9em;
}

div.response-form {
    margin: 60px 15px;
    padding: 25px;
    border: 1px solid #B9C1CA;
    color: #B9C1CA;
}

div.response-form input,
div.response-form textarea {
    display: block;
    border: 1px solid #B9C1CA;
    margin-bottom: 15px;
}

div.response-form button {
    padding: 5px 15px;
    font-weight: bold;
}

div.response-form p {
    color: #B9C1CA;
}

.sharing {
    border-bottom: 1px dotted #B9C1CA;
    padding-bottom: 20px;
}

.sharing svg {
    width: 24px;
    height: 24px;
    overflow: visible;
}